.carousel_container{
    width: 45rem;
    max-width: 45rem;
    min-width: 45rem;
    display: block;
}
.carousel{
    min-height: 30rem;
    padding: 5rem;
}
.habilidade{
    width: 100%;
}
.div_carousel_item{
    height: 22rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: shrink10 0.2s linear both;
}
.div_carousel_item:hover{
    animation: grow10 0.2s linear both;
}
.h1{
    font-size: 30px;
    line-height: 35px;
}
@keyframes shrink10{
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}
@keyframes grow10{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1);
    }
}